name: Run Python Pytest

on:
    push:
        branches:
            - main
            - dev
    pull_request:

jobs:
    Test:
        runs-on: self-hosted

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                python-version: '3.9'

            - name: Install dependencies
              run: |
                python -m pip install --upgrade pip
                pip install -r requirements_dev.txt
                pip install -e .

            - name: Run tests
              run: |
                export GIT_PYTHON_REFRESH=quiet
                pytest -vs --junit-xml=report.xml
            
            - name: Publish Test Report
              uses: mikepenz/action-junit-report@v5
              if: success() || failure() # always run even if the previous step fails
              with:
                report_paths: 'report.xml'
